{% extends 'layout.html' %}


{% block content %}
  <section class="header">
      <h1>Jacki Bolt</h1>
      <p>Freelance Python & Front End Developer</p>
      <img src="/static/images/mtns_headshot.jpg" alt="View from inside a GK helmet">
  </section>
  <section id="about-page">
      <div id="triangle7"></div>
      <div id="triangle8"></div>
      <h2>About Jacki</h2>
      <p>
          Jacki is an enthusiastic freelance python and frontend developer, eager to build simple,
          clean and flexible solutions. 
      </p>
      <p>
          A life-long learner, Jacki started with a focus on frontend developemnt, learning
          the backbone of HTML, CSS, and JavaScript. Early projects included scratch-built 
          portfolio sites for artists and video professionals, and a paid membership-based
          WordPress build to share coaching resources including video, PDF, image and text
          content. More recent work includes a Python/Flask build that scrapes college field hockey
          scores from more than 80 sources, normalizes match data and displays regularly updated
          results. 
      </p>
      <p>
          Jacki transitioned into Python development after a decade of coaching in the NCAA, 
          always pushing boundaries with new innovative ways to get a little bit better each day. 
          After stepping away from coaching, Jacki moved into an analyst role with a fast-growing 
          medical tech company in Nashville, Tenn., continues to push forward adding developement
          tools to her skill stack, and choosing projects that feel challenging, valuable and exciting.
      </p>
  </section>
{% endblock %}